.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
    
    .authors a:not(:last-child) {
      margin-right: 0.5em;

      &::after {
        content: ",";
      }
    }
  }
}
